
/*Selector Universal - Aplica a todos los elementos de la página*/
*{
    margin: 5px; /*margin establece el margen para los 4 lados*/
    padding: 5px; /*paddin establece el espacio de relleno*/
}

header {
    background-image: url(/media/navbanner.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  section{
    background-color: rgb(247, 236, 252);
  color: #8f6277;
  }
  
  h1 {
    color: #36252d;
    background-color: #fbd5e58e;
    font-size: 36px;
    margin: 0;
    text-align: center;
    font-family: sans-serif 
  }

  h2 {
    color: #48313c;
    background-color: #fbd5e58e;
    font-size: 24px;
    margin: 0;
    text-align: center;
  }
  
  h3 {
    color: #48313c;
    background-color: #fbd5e58e;
    font-size: 24px;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .link {
    color: #8f6277;
    background-color: #fbd5e58e;
    font-size: 20px;
    margin: 0 7px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .link:hover {
    color: #fdcae1;
  }
  

.practicasdiv{
  overflow: auto;
}

.servicios{
  float: left;
}

.videopap { float: right ;}

.temasdeinteresgeneral {

}
